{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create listing</h2>
<form action="{% url 'create'%}" method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter name here" name="title">
    </div>
    <label for="story">Story:</label>
<textarea class="form-control" rows="5" id="story" name="story" placeholder="Enter champion Story"></textarea>
<div class="mb-3 mt-3">
    <label for="imageurl" class="form-label">ImageURL:</label>
    <input type="text" class="form-control" id="imageurl" placeholder="Enter Image URL here" name="imageurl">
</div>
<div class="mb-3 mt-3">
    <label for="price" class="form-label">Price:</label>
    <input type="number" class="form-control" id="price" placeholder="Enter your price" name="price">
</div>
<div>
    <label  class="form-label">Choose your champion Category:</label>
<select class="form-select" name="category">
    {%for Category in category%}
    <option>{{Category}}</option>
    {%endfor%}
    
  </select>
</div>
<button type="submit" class="btn btn-primary">Create Listing</button>
</form>
{% endblock %}